.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-row{
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.button-row{
    width: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2%;
}
.outcome-text{
    align-self: center;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.2rem;

}

.output{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.2rem;
}

button{
    margin: 10px;
}

.player-hand,
.computer-hand{
    height: 300px;
}

#game-output,
#scorekeeper{
    text-align: center;
}
